/* font-faces */
@font-face { font-family: "Fontin Sans"; src: url("/fonts/fontin_sans_i_45b-webfont.eot"); src: local("☺"), url("/fonts/fontin_sans_i_45b-webfont.woff") format("woff"), url("/fonts/fontin_sans_i_45b-webfont.ttf") format("truetype"), url("/fonts/fontin_sans_i_45b-webfont.svg#webfontX4pGz9fc") format("svg"); font-weight: 400; font-style: italic; }

@font-face { font-family: "Fontin Sans"; src: url("/fonts/fontin_sans_b_45b-webfont.eot"); src: local("☺"), url("/fonts/fontin_sans_b_45b-webfont.woff") format("woff"), url("/fonts/fontin_sans_b_45b-webfont.ttf") format("truetype"), url("/fonts/fontin_sans_b_45b-webfont.svg#webfontX4pGz9fc") format("svg"); font-weight: 700; font-style: normal; }

@font-face { font-family: "Fontin Sans"; src: url("/fonts/fontin_sans_bi_45b-webfont.eot"); src: local("☺"), url("/fonts/fontin_sans_bi_45b-webfont.woff") format("woff"), url("/fonts/fontin_sans_bi_45b-webfont.ttf") format("truetype"), url("/fonts/fontin_sans_bi_45b-webfont.svg#webfontX4pGz9fc") format("svg"); font-weight: 700; font-style: italic; }

@font-face { font-family: "Fontin Sans"; src: url("/fonts/fontin_sans_r_45b-webfont.eot"); src: local("☺"), url("/fonts/fontin_sans_r_45b-webfont.woff") format("woff"), url("/fonts/fontin_sans_r_45b-webfont.ttf") format("truetype"), url("/fonts/fontin_sans_r_45b-webfont.svg#webfontX4pGz9fc") format("svg"); font-weight: 400; font-style: normal; }

@font-face { font-family: "PT Sans"; src: url("/fonts/PTS75F-webfont.eot"); src: local("☺"), url("/fonts/PTS75F-webfont.woff") format("woff"), url("/fonts/PTS75F-webfont.ttf") format("truetype"), url("/fonts/PTS75F-webfont.svg#webfontX4pGz9fc") format("svg"); font-weight: 700; font-style: normal; }

@font-face { font-family: "PT Sans"; src: url("/fonts/PTS76F-webfont.eot"); src: local("☺"), url("/fonts/PTS76F-webfont.woff") format("woff"), url("/fonts/PTS76F-webfont.ttf") format("truetype"), url("/fonts/PTS76F-webfont.svg#webfontX4pGz9fc") format("svg"); font-weight: 700; font-style: italic; }

@font-face { font-family: "PT Sans"; src: url("/fonts/PTS56F-webfont.eot"); src: local("☺"), url("/fonts/PTS56F-webfont.woff") format("woff"), url("/fonts/PTS56F-webfont.ttf") format("truetype"), url("/fonts/PTS56F-webfont.svg#webfontX4pGz9fc") format("svg"); font-weight: 400; font-style: italic; }

@font-face { font-family: "PT Sans"; src: url("/fonts/PTS55F-webfont.eot"); src: local("☺"), url("/fonts/PTS55F-webfont.woff") format("woff"), url("/fonts/PTS55F-webfont.ttf") format("truetype"), url("/fonts/PTS55F-webfont.svg#webfontX4pGz9fc") format("svg"); font-weight: 400; font-style: normal; }

/* declarations */
/* misc */
h1 { font-size: 24.5px; }

h2 { font-size: 22.5px; }

h3 { font-size: 20.5px; }

h4 { font-size: 18px; }

h5 { font-size: 16.5px; }

h6 { font-size: 16.5px; }

h1, h2, h3, h4, h5, h6, header#top > aside a, section#content > header a { font-family: "Fontin Sans", "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif; }

textarea, input { font-family: "PT Sans", "Arial", "Helvetica", "Lucida Grande", "Gill Sans", "Verdana", sans-serif; }

a { text-decoration: none; }

a, a:visited { color: #70694a; }

a:hover { color: #8e8768; }

img { vertical-align: middle; }

header#top > aside a, section#content > header a { font-weight: bold; }
header#top > aside a, header#top > aside a:visited, section#content > header a, section#content > header a:visited { color: #cce7d4; }
header#top > aside a:hover, section#content > header a:hover { color: #8e8768; }

/* classes */
.left { float: left; }

.right { float: right; }

.tiny-article { height: 230px; }

/* starts here */
html { height: 100%; }

body { padding: 15px; font-family: "PT Sans", "Arial", "Helvetica", "Lucida Grande", "Gill Sans", "Verdana", sans-serif; background-color: #cce7d4; background-image: url("/images/bg-left.png"), url("/images/bg-right.png"); background-repeat: no-repeat, no-repeat; background-position: 0 125%, 100% 0; }

section#flags { margin: 0 auto 5px; width: 850px; }
section#flags > ul { margin: 0; }
section#flags > ul > li { display: inline; }
section#flags > ul > li > a { font-weight: bold; color: #70694a; }

section#container { margin: 0 auto; width: 850px; background: rgba(255, 255, 255, 0.7); box-shadow: 0 0 12px #999999; -moz-box-shadow: 0 0 12px #999999; -webkit-box-shadow: 0 0 12px #999999; }

header#top { width: 850px; height: 300px; display: table; box-shadow: 0 3px 3px #999999; -moz-box-shadow: 0 3px 3px #999999; -webkit-box-shadow: 0 3px 3px #999999; }
header#top > aside { width: 158px; height: 300px; background: url("/images/header-bg.png") repeat scroll 0 0 transparent; }
header#top > aside > nav { float: left; }
header#top > aside > nav > ul { margin: 0 0 0 13px; padding: 8px 0 0 0; }
header#top > aside > nav > ul > li { padding: 1px 0 2px 0; font-size: 16.5px; }
header#top > aside h1 { margin: 15px 13px 0 0; width: 132px; height: 129px; text-indent: -5000px; overflow: hidden; background: url(/images/logo-light-normal.png) no-repeat; float: right; }

/* content */
section#content { padding: 10px 0; }
section#content > header { height: 38px; background: #70694a url(/images/bg-header-title.png) no-repeat right; }
section#content > header > h2 { padding: 8px 10px 0 0; text-align: right; }
section#content > header > nav { float: left; }
section#content > header > nav > ul { margin: 8px 0 0 10px; }
section#content > header > nav > ul > li { margin: 0 5px 0 5px; color: #cce7d4; font-size: 16.5px; display: inline; }
section#content > header.index { height: 32px; background: #70694a; }
section#content > header.index > p { padding: 6px 0 0 0; color: #cce7d4; font-size: 14.5px; text-align: center; }
section#content > article { margin: 20px 20px 0; }
section#content > article > img { padding: 0 0 0 10px; }
section#content > article p { margin: 2px 0 9px; font-size: 14.5px; line-height: 21px; text-align: justify; }
section#content > article > ul > li { font-size: 14.5px; margin: 3px 0; }
section#content > article a { border-bottom: 1px dashed #70694a; }
section#content > article.index { display: table; }

section#social { padding: 15px 0 0 0; display: table; }

section#twitter { width: 400px; margin: 0 0 0 20px; float: left; }
section#twitter > ul { margin: 10px 0 0; }
section#twitter > ul > li { margin: 0 0 15px; font-size: 13.5px; line-height: 21px; list-style: none; display: table; }
section#twitter > ul > li > a > img { margin: 3px 10px 0 0; float: left; -moz-box-shadow: 0 0 4px #999999; -webkit-box-shadow: 0 0 4px #999999; box-shadow: 0 0 4px #999999; }

section#blog { width: 375px; margin: 0 0 0 25px; float: left; }
section#blog > ul { margin: 10px 0 0 15px; }
section#blog > ul > li { margin: 0 0 5px; font-size: 13.5px; line-height: 21px; }

article#multiple { height: 400px; overflow: hidden; }

div#overflowed { width: 3400px; }
div#overflowed > ul { margin: 0; }
div#overflowed > ul > li { list-style: none; width: 810px; float: left; }
div#overflowed > ul > li > article > ul { margin-top: -6px; padding-top: 0; }
div#overflowed > ul > li > article > ul > li { font-size: 14.5px; }

section#member { display: table; height: 188px; }
section#member > hgroup { margin: 20px 0 0; }
section#member > img { float: left; }

article.contact { width: 100%; display: table; }
article.contact > div#form { width: 450px; float: left; }
article.contact > div#form > p.warning { font-weight: bold; }
article.contact > div#form > form > fieldset > input[type='text'], article.contact > div#form > form > fieldset > textarea { width: 275px; margin: 0 0 5px; }
article.contact > div#form > form > fieldset > textarea { height: 100px; }
article.contact > div#other-contacts { width: 275px; padding: 0 20px 0 0; float: right; }

/* footer */
footer { width: 100%; padding: 0 0 10px; display: table; }
footer > section#address { float: left; padding: 0 0 0 10px; }
footer > section#partners { float: right; padding: 0 10px 0 0; }

/* chat */
#octachat { width: 235px; height: 30px; margin: 10px; padding: 3px; position: fixed; right: 0; bottom: 0; background-color: #70694a; overflow: hidden; box-shadow: 0 0 7px #999999; -moz-box-shadow: 0 0 7px #999999; -webkit-box-shadow: 0 0 7px #cccccc; color: #cce7d4; font-family: "PT Sans", "Arial", "Helvetica", "Lucida Grande", "Gill Sans", "Verdana", sans-serif; }
#octachat > form { width: 100%; margin: 5px 0 5px 1px; display: table; font-size: 14.5px; }
#octachat > form > fieldset { border: 0; padding: 0; margin: 0; }
#octachat > form > fieldset > textarea { width: 97%; height: 40px; }
#octachat > form > fieldset > label > input { margin: 3px 0 0 5px; width: 181px; }
#octachat > form > fieldset > input { margin: 3px 1px 2px 0; float: right; height: 27px; }
#octachat > form > fieldset > span { display: block; margin: 5px 0; padding: 3px 0 0 25px; background: url("/images/loading.gif") no-repeat left center; }
#octachat > h5 { margin: 5px 5px 5px 0; }
#octachat > h5 > a { background: url("/images/chat.png") no-repeat left center; width: 100%; margin-left: 5px; padding: 5px 5px 5px 25px; text-decoration: none; font-size: 14.5px; color: #cce7d4; }
#octachat > #log { height: 150px; background-color: white; overflow-y: auto; overflow-x: hidden; word-wrap: break-word; }
#octachat > #log > ul { margin: 0; padding: 5px; background-color: white; color: #70694a; font-size: 13.5px; }
