<?xml version="1.0" encoding="UTF-8"?>
<!--
  sitemap_gen.py example configuration script

  This file specifies a set of sample input parameters for the
  sitemap_gen.py client.

  You should copy this file into "config.xml" and modify it for
  your server.


  ********************************************************* -->
 <site
  base_url="http://www.octahedron.com.br/"
  store_into="sitemap.xml"
  verbose="1"
  default_encoding="UTF-8"
  sitemap_type="web"
 >
  <url  href="http://www.octahedron.com.br/"  />
  <url  href="http://www.octahedron.com.br/empresa"  />
  <url  href="http://www.octahedron.com.br/solucoes"  />
  <url  href="http://www.octahedron.com.br/clientes"  />
  <url  href="http://www.octahedron.com.br/contato"  />
  <url  href="http://www.octahedron.com.br/en"  />
  <url  href="http://www.octahedron.com.br/company"  />
  <url  href="http://www.octahedron.com.br/solutions"  />
  <url  href="http://www.octahedron.com.br/customers"  />
  <url  href="http://www.octahedron.com.br/contact"  />

  <filter action="drop" type="regexp"   pattern="/\.[^/]*"     />
  <filter action="drop" type="wildcard" pattern="*TODO*" />
  <filter action="drop" type="wildcard" pattern="**.sh*" />
  <filter action="drop" type="wildcard" pattern="**.bak*" />
</site>
